<style>
/* force scrollbar */
html { overflow-y: scroll; }
    
/* To overwrite page's padding, to get bigger images */
/* article {padding:2%;} */
</style>

<div id='masonry' class="grid">
<div class="grid-sizer"></div>
<div class="gutter-sizer"></div>
{% for image in site.static_files %}
  {% if image.path contains include.gallery_path %}
    {% unless image.path contains '.md' %}
        <img src="{{ image.path | relative_url }}" alt="" >
    {% endunless %}  
  {% endif %}
{% endfor %}
</div> 

